@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'WorkSans', sans-serif;
}

@font-face {
  font-family: 'kbstick';
  src: url('./fonts/kbstick.ttf');
  font-weight: normal;
  font-style: normal;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: scroll 10s linear infinite;
  display: flex;
}

@layer utilities {
  .flex-between {
    @apply flex items-center justify-center;
  }

  .nav-elem {
    @apply absolute p-5 rounded-md border-2 border-slate-50 w-fit bg-white group-hover:block mt-5;
  }
  .tranimate {
    @apply transition-all ease-in-out;
  }
}

@keyframes tilt {
  0%,
  100% {
    transform: rotate(0);
  }
  50% {
    transform: rotateY(15deg) rotateX(15deg);
  }
}
/* Custom CSS */
.transform-style {
  transform-style: preserve-3d;
}

/* Custom CSS */
.hover\:rotate-x-6:hover {
  transform: rotateX(50deg);
}
.hover\:rotate-y-6:hover {
  transform: rotateY(50deg);
}

/* Custom CSS */
.perspective {
  perspective: 1000px;
}

/* global.css or index.css */
:root {
  /* Light Theme (default) */
  --primary-color: #0d52ff; /* Soft blue */
  --secondary-color: #3b82f680; /* Bright yellow */
  --accent-color: #5d5d69; /* Strong red */
  --background-color: #ffffff; /* Light grayish */
  --text-color: #121118;
  --shadow-color: #94a3b8; /* Darker grayish blue */
}

/* Dark Mode */
.dark-mode {
  --primary-color: #0d52ff; /* Deep blue */
  --secondary-color: #3b82f680; /* Soft orange */
  --accent-color: #d1d5db; /* Light red */
  --background-color: #121118; /* Dark background */
  --text-color: #ffffff; /* Soft light gray */
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 1s 0.5s;
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

@keyframes trailAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

@keyframes sabin {
  0% {
    opacity: 0;
    hue-rotate: 0deg;

    transform: translateY(-5%);
  }
  25% {
  }
  75% {
    opacity: 1;
    hue-rotate: 180deg;
    transform: translateY(5%);
  }
  100% {
    opacity: 1;
    hue-rotate: 360deg;
  }
}

/* sabin is a loader animation */
.sabin {
  animation: sabin 0.01s infinite ease-in-out;
}
